<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/assets/css/todos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="./static/assets/js/jquery.min.js"></script>
    <title>To-Do List</title>
</head>
<body>
    
    <div id="container">
        <h1>To-Do List<i class="fa fa-plus"></i></h1>
        <input type="text" placeholder="Add New To-do">
        <ul>
            <li><span><i class="fa fa-trash"></i></span> Item 1</li>
            <li><span><i class="fa fa-trash"></i></span> Item 2</li>
            <li><span><i class="fa fa-trash"></i></span> Item 3</li>
        </ul>
    </div>

<script src="./static/assets/js/todos.js"></script>
</body>
</html>